@model LetsTryMVC.Models.ProductCategory

@{
    ViewBag.Title = @Model.Name;
}


<br />
<br />

<div class="row">
    <div class="col-xs-12 col-md-3">
        <ul class="nav nav-pills nav-stacked">
            @if (Model.Name == "Tester")
            {
                <li class="active">
                    <a href="~/StoreFront/Index/1">Tester</a>
                </li>
            }
            </ul>
    </div>
    <div class="col-xs-12 col-md-9">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-xs-12 col-md-3">
                    <div>
                        @*<img class="img-responsive" src="~/Content/Images/Products/@(product.Name).png">*@
                        <div>
                            <p>
                                <b>Name:</b> <span>@product.Name</span>
                            </p>
                            <p>
                                <b>Price:</b> <span>@product.Price USD</span>
                            </p>
                            <p class="text-center">
                                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = product.Id }, new { @class = "btn btn-info" })
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>