@using LetsTryMVC.ViewModels
@model List<Photo>

<h1>Photos</h1>

<p>
    <a asp-controller="Photos" asp-action="Create">Add Photo</a>
</p>


@if (Model.Count == 0)
{
    <p>No Products Yet!</p>
}
else
{
    <p>
        <a asp-controller="Photos" asp-action="Delete">Delete Photo</a>
    </p>

    <table class="table">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
           @* <th scope="col">Category</th>*@

        </tr>
        @foreach (var image in Model)
        {
            <tr>
                <td><a asp-controller="Products" asp-action="Detail" asp-route-id="@image.Id">@image.ImageName</a></td>
                <td>@image.Image</td>
               @* <td>@image.Category.Name</td>*@
            </tr>

        }
    </table>
}