@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <section>
        <div class="text-center">
            <h3 class="display-4">Welcome to Let's Try</h3>
        </div>
    </section>
    <section style="position:relative;">
        <div class="info" style="padding: 5px; float: left;">
            <a>
                <img src="~/Image/website/home image-resized-sm.jpg" class="img-fluid" style="height:auto;"/>
            </a>
        </div>
        <div class="description"
             style="top: 50%; -ms-transform: translateY(50%); display: flex; flex-direction: column; float: right; text-align:center; align-content:center;">
            <h1>Get the Box.</h1>
            <h5>Make Your Next Favorite Thing.</h5>
            <button class="myButton" style="background-color: #FCB9AA; border: none; height: 60px; position: relative; font-size: 18px; font-weight: 700; letter-spacing: 1px; color: black;">
                <span style="display: inline;">@Html.ActionLink("Get Started", "Index", "Products", null, new { @style = "color:black;" })</span>
            </button> <br />
            <button style=" height: 40px; border: none; position: relative; font-size: 14px; font-weight: 700; letter-spacing: 1px; background-color: #FCB9AA; color: black;">
                <span style="display: inline;"><a asp-area="Identity" asp-page="/Account/Register" style="color:black;">Register As A Member</a></span>
            </button>
        </div>
    </section>
</div>