@using LetsTryMVC.ViewModels
@model CustomerOrderViewModel;


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Checkout</title>
</head>
<body>

    <form asp-action="AddressAndPayment">
        <div class="row">
            <h3 class="text-center">Shipping Details</h3>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName" class="control-label">First Name: </label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="LastName" class="control-label">Last Name: </label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label">Address: </label>
            <input asp-for="Address" class="form-control" placeholder="1234 Address Lane" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="City" class="control-label">City: </label>
                <input asp-for="City" class="form-control" placeholder="City" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="State" class="control-label">State: </label>
                <select asp-for="State" class="form-control">
                    <option selected>Choose...</option>
                    <option value="AK">Alaska</option>
                    <option value="AL">Alabama</option>
                    <option value="AR">Arkansas</option>
                    <option value="AZ">Arizona</option>
                    <option value="CA">California</option>
                    <option value="CO">Colorado</option>
                    <option value="CT">Connecticut</option>
                    <option value="DC">Washington, D.C.</option>
                    <option value="DE">Delaware</option>
                    <option value="FL">Florida</option>
                    <option value="GA">Georgia</option>
                    <option value="HI">Hawaii</option>
                    <option value="IA">Iowa</option>
                    <option value="ID">Idaho</option>
                    <option value="IL">Illinois</option>
                    <option value="IN">Indiana</option>
                    <option value="KS">Kansas</option>
                    <option value="KY">Kentucky</option>
                    <option value="LA">Louisiana</option>
                    <option value="MA">Massachusettes</option>
                    <option value="MD">Maryland</option>
                    <option value="ME">Maine</option>
                    <option value="MI">Michigan</option>
                    <option value="MN">Minnesota</option>
                    <option value="MO">Missouri</option>
                    <option value="MS">Mississippi</option>
                    <option value="MT">Montana</option>
                    <option value="NC">North Carolina</option>
                    <option value="ND">North Dakota</option>
                    <option value="NE">New England</option>
                    <option value="NH">New Hampshire</option>
                    <option value="NJ">New Jersey</option>
                    <option value="NM">New Mexico</option>
                    <option value="NV">Nevada</option>
                    <option value="NY">New York</option>
                    <option value="OH">Ohio</option>
                    <option value="OK">Oklahoma</option>
                    <option value="OR">Oregon</option>
                    <option value="PA">Pennsylvania</option>
                    <option value="RI">Rhode Island</option>
                    <option value="SC">South Carolina</option>
                    <option value="SD">South Dakota</option>
                    <option value="TN">Tennessee</option>
                    <option value="TX">Texas</option>
                    <option value="UT">Utah</option>
                    <option value="VA">Virginia</option>
                    <option value="VT">Vermont</option>
                    <option value="WA">Washington</option>
                    <option value="WI">Wisconsin</option>
                    <option value="WV">West Virginia</option>
                    <option value="WY">Wyoming</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>



            </div>

            <div class="form-group col-md-2">
                <label asp-for="PostalCode" class="control-label">Zip Code: </label>
                <input asp-for="PostalCode" class="form-control" placeholder="12345" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Country" class="control-label">Country: </label>
            <input asp-for="Country" class="form-control" placeholder="Country" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="control-label">Phone Number: </label>
            <input asp-for="Phone" class="form-control" placeholder="(123) 456 7890" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label">E-mail Address: </label>
            <input asp-for="Email" class="form-control" placeholder="E-mail@email.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <div class="row">
                <h3 class="text-center">Payment Details</h3>
            </div>
            <div class="row form-group">
                <label asp-for="CardNumber">CARD NUMBER</label>
                <input asp-for="CardNumber" class="form-control" placeholder="Valid Card Number" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="Expiration">EXPIRATION DATE</label>
                <input asp-for="Expiration" class="form-control" placeholder="MM/YYYY" />
                <span asp-validation-for="Expiration" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="SecCode">CVV CODE</label>
                <input asp-for="SecCode" class="form-control" placeholder="CVC" />
                <span asp-validation-for="SecCode" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <label asp-for="CardOwner">CARD OWNER</label>
                <input asp-for="CardOwner" class="form-control" placeholder="Name On Card" />
                <span asp-validation-for="CardOwner" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="DateCreated" value="@DateTime.Now.ToString("dd/MM/yyyy h:mm:ss")" />
            <span asp-validation-for="DateCreated"></span>
        </div>
        <div class="form-group">
            <strong>
                <label asp-for="Amount">Total: </label>
                <div class="text-success">$@Html.DisplayFor(model => model.Amount)</div>
            </strong>
            <input type="hidden" asp-for="Amount" value="@Html.ValueFor(model => model.Amount)" />
            <span asp-validation-for="Amount"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Pay $@Html.DisplayFor(model => model.Amount) Now" class="btn btn-success btn-lg btn-block" />
        </div>
        <div>
            @Html.ActionLink("Back To Cart ", "Index", "ShoppingCart")
        </div>
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
