@model int

@{
    ViewBag.Title = "Checkout Complete";
}


<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order id is: @Model</p>
<p>
    How about shopping for another box?
    @Html.ActionLink("Products", "Index", "Products")
</p>