@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<div class="text-lg-center">
    <h2>Checkout Complete</h2>
    <span>
        Thanks for your order!
    </span>
    <span>
        Your Order Number is: #@Model
    </span>
</div>
<div>
    <span>@Html.ActionLink("How about another box?", "Index", "Products")</span>
    <span>@Html.ActionLink("My Orders", "Index", "Orders")</span>
</div>