@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<div>
    <h2>Checkout Complete</h2>
    <p>
        Thanks for your order!
        Your Order Number is: #@Model
    </p>
   
</div>
<div>
    <p>
        How about shopping for another box?
        @Html.ActionLink("Products", "Index", "Products")
    </p>
</div>