@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<div class="text-lg-center">
    <h2>Checkout Complete</h2>
    <p>
        Thanks for your order!
    </p>
    <p>
        Your Order Number is: #@Model
    </p>
    <button style=" height: 60px; border: none; position: relative; font-size: 18px; font-weight: 700; letter-spacing: 1px; background-color: #FCB9AA; color: black;">
        <span style="display: inline;">@Html.ActionLink("How about another box?", "Index", "Products", null, new { @style = "color:black;" })</span>
    </button>
    <br />
    <button style=" height: 60px; border: none; position: relative; font-size: 18px; font-weight: 700; letter-spacing: 1px; background-color: #FCB9AA; color: black;">
        <span style="display: inline;">@Html.ActionLink("My Orders", "Index", "Orders", null, new { @style = "color:black;" })</span>
    </button>
</div>




