@using LetsTryMVC.ViewModels
@model AddProductCategoryViewModel;

<h1>Products Categories</h1>

<div>
    <p>
        <a asp-controller="ProductsCategory" asp-action="Create">Add Category</a>
    </p>
    <p>
        <a asp-controller="ProductCategory" asp-action="Delete">Remove Category</a>
    </p>
</div>

    <table class="table">
        <tr>
            <th scope="col">Name</th>

        </tr>
        @for(int i = 0; i < 10; i++)
        {
            <tr>
                <td>@Model.Name</td>
            </tr>

        }
    </table>
}