@using LetsTryMVC.Models
@model List<ProductCategory>;

<h1>Products Categories</h1>

<div>
    <p>
        <a asp-controller="ProductCategory" asp-action="Create">Add Category</a>
    </p>
    <p>
        <a asp-controller="ProductCategory" asp-action="Delete">Remove Category</a>
    </p>
</div>

    <table class="table">
        <tr>
            <th scope="col">Name</th>

        </tr>
        @foreach(var category in Model)
        {
            <tr>
                <td>@category.Name</td>
            </tr>

        }
    </table>