@*@using LetsTryMVC.ViewModels
@model AddFriendViewModel

<table class="table">
    <tr>
        <th scope="col">Name</th>
        <th></th>
    </tr>
    @foreach (var user in Model.Friends)
    {
        <tr>
            <td>@user.UserName</td>
        </tr>

    }
</table>*@
<h1>Success</h1>
